/* Navbar + Hamburger*/
header {
    background-color: #ffffff;
    padding: 20px 0;
    position: relative;
}

.logo img {
    height: 30px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.navbar h1 {
    font-size: 2rem;
    color: #A31200;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #A31200;
    font-size: 1.2rem;
    font-weight: 600;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

#nav-menu {
    display: flex;
    list-style: none;
}

#nav-menu li {
    margin-left: 20px;
}


/* Show and hide menu for mobile */
.show-menu {
    display: block;
}